<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Help</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="icon" href="/img/icons/sun.png">

</head>

<body>
  <div id="background"></div>
  <div class="main-content">
    {{>header}}
    <div class="flexbox">
      <div class="message">
        <h2>Find weather based on your current location</h2>
        <p>The first time you load this website your browser will ask if you wish to enable location services. If you
          grant location services permission, a card with the current weather conditions for your location will
          automatically load. If you do not grant this permission no weather data will load until you manually add a
          location. <a href="https://www.lifewire.com/denying-access-to-your-location-4027789" target="_blank"
            rel="noopener">This article</a> provides information on how to manage the geolocation access for your web
          browser.</p>
        <h2>Adding Locations</h2>
        <p>Enter any location for which you wish to see the current weather conditions in the location search box. You
          can enter an address, a zip code, the name of a city, state, or country, or a location name (like
          &lsquo;Statue of Liberty&rsquo;). After you click &lsquo;Add Location&rsquo; or press Enter, a card with the
          current weather condition for that location will load.</p>
        <h2>Removing Locations</h2>
        <p>On the bottom of each card displaying weather data there is the text &lsquo;close&rsquo;. Clicking that text
          will remove that card from the screen.</p>
        <h2>Contact Information</h2>
        <p>To contact me or see more of my web development projects visit my portfolio at <a
            href="http://www.scottaprice.com" target="_blank" rel="noopener">www.scottaprice.com</a></p>
      </div>
    </div>
  </div>
  {{>footer}}
  <script type="module" src="/js/background.js"></script>
</body>

</html>
