<header>
  <div class="title-container">
    <img src="/img/icons/sun.png" alt="Weather App Icon">
    <h1>{{title}}</h1>
  </div>

  <nav>
    <a class="pages" href="/">Weather</a>
    <a class="pages" href="/about">About</a>
    <a class="pages" href="/help">Help</a>
  </nav>
</header>
